@font-face {
  font-family: 'ZeroCool';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/ZeroCool.woff2') format('woff2');
  font-display: swap;
}

.zerocool {
  font-family: 'ZeroCool';
}