@use './fonts.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  cursor: url('/img/cur_normal.webp'), auto;
}

a, .cursor-pointer {
  cursor: url('/img/cur_pointer.webp'), pointer;
}
