.ach-area {
  position: fixed;
  bottom: 0;
  right: 0;
  overflow-y: hidden;
  z-index: 20;
}

.ani-div {
  width: 320px;
  padding: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  background: linear-gradient(135deg, #30302e, #1a1a17);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.show-achievement {
  animation: 5s ease-out showAchievement;
}

@keyframes showAchievement {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  5% {
    transform: translateY(0);
    opacity: 1;
  }
  80% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}

.ani-icon {
  width: 80px;
  height: 80px;
  margin-right: 16px;
  line-height: 64px;
}
